header {
  height: 75px;
  background-color: #91c8e4;
}

p {
  color: #f6f4eb;
  margin: 0;
  font-size: 36px;
}

.app-title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
