a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.items {
  display: flex;
  justify-content: center;
}

.item {
  width: 50%;
  height: 27vh;
  padding: 20px;
  display: flex;
  border-radius: 5px;
  background-color: #fff;
  color: #666;
  box-shadow: 0 0 15px rgba(100, 100, 100, 0.5);
}

.thumbnail {
  margin: auto;
}

.right {
  margin: auto;
  margin-left: 20px;
}

/* .right div {
  margin-bottom: 10px;
} */

.right .title {
  font-weight: bold;
  font-size: 1.5rem;
}

.error {
  color: #ff0000;
  background-color: #ffcccc;
  padding: 10px;
  border-radius: 5px;
}
