.sidebar {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background: #91c8e4;
  transition: width 0.4s;
}

.sidebar.open {
  width: 260px;
}

.sidebar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  height: 75px;
  background: rgb(0 0 0 / 15%);
}

.sidebar-burger {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  /* ------------ */
  width: 60px;
  height: 70px;
  display: grid;
  place-items: center;
  color: #f9f9f9;
}

.sidebar-button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  /* ------------ */
  display: flex;
  gap: 16px;
  align-items: center;
  height: 55px;
  width: 100%;
  font-family: "poppins";
  font-size: 16px;
  text-transform: capitalize;
  line-height: 1;
  padding: 0 10px;
  border-radius: 8px;
  color: #f9f9f9;
  opacity: 0.8;
}

.sidebar-button > span {
  opacity: 0.8;
}

.sidebar-button:hover {
  background: rgb(0 0 0 / 30%);
  opacity: 1;
}

.sidebar-button:hover > span {
  opacity: 1;
}

.sidebar-logo,
.sidebar-button p {
  opacity: 0;
  transition: 0.3s;
}

.sidebar.open :is(.sidebar-logo, .sidebar-button p) {
  opacity: 1;
}
